* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img1 {
  height: 430px;
  width: 100%;
}
.img2 {
  height: 430px;
  width: 100%;
}
.info-blog {
  height: 300px;
  width: 50%;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwPplDKB31xsXZ98GBZW9xxDNxYyu5P6dkqQ&s);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.info-blogs {
  height: 300px;
  width: 50%;
  background-color: rgba(160, 159, 224, 0.24);
  text-align: center;
}
.but {
  height: 35px;
  width: 110px;
  border-radius: 12px;
  border-style: none;
}
.cont-content {
  display: flex;
  flex-direction: row;
}