*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-cont{
   min-height:100vh;
    width: 100vw;
    background-image: url(https://res.cloudinary.com/purnesh/image/upload/w_540,f_auto,q_auto:eco,c_limit/11727789429944.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    background-position: center;
}
.button1{
height:40px;
width: 65px;
padding: 2px;
border-radius: 12px;
background-color: rgb(179, 158, 164);
border: 1px solid rgb(70, 66, 66);

}
.button2{
     height:40px;
width: 65px;
padding: 2px;
border-radius: 12px;
background-color: rgb(189, 108, 110);
border: 1px solid rgb(70, 66, 66);
}
@media  (max-width: 768px){
    .main-cont{
        max-width: 375vh;
        max-height: 375vh;
    }
    
    
}